
<-------------- Basic ---------------->

title.title{
	text-align: center;
}

body{
  background-color: #e2bdba;
}

#header {
background-color: #e2bdba;
   font-family: Helvetica, sans-serif;
   text-align: center;
}

img.center{ 
width: 500px;
height: auto;
margin: auto;
}

#img{
	display: block;
	margin-top: auto;
	width: auto;
	height: auto;
	float: right;
}

#available{
	    background-color: darkgrey;
	    text-align: left;
}

#Available{
	color: yellow;
}

#img-description{
	text-align: left;
}

#header1{
	text-align: left;
}

#size{
margin-left: auto;
text-align: left;
}

#weight{
margin-left: auto;
text-align: left;
}

div.pricing{
	text-align: left;
	font-size: 18px;
}
.content{
	border: 1px solid black;
}