
<-------------- Basic ---------------->

body{
  background-color: yellow;
  text-align: center;
}

#header {
background-color: #e2bdba;
   font-family: Helvetica, sans-serif;
float: left;
display: block;
}

img.center{ 
display: block;
width: 800px;
height: auto;
}

#img{
	display: block;
	margin-top: auto;
	width: auto;
	height: auto;
	float: right;
}

#available{
	    background-color: crimson;
	    text-align: center;
}

#img-description{
	position: 100px
}